<div>
    date: 
    <div>no pipe: {{ date1 }}</div>
    <div>default: {{ date1 | date}}</div>
    <div>short: {{ date1 | date: "short"}}</div>
    <div>medium: {{ date1 | date: "medium"}}</div>
    <div>long: {{ date1 | date: "long"}}</div>
    <div>shotrDate: {{ date1 | date: "shotrDate"}}</div>
    <div>mediumDate: {{ date1 | date: "mediumDate"}}</div>
    <div>fullDate: {{ date1 | date: "fullDate"}}</div>
    <div>shortTime: {{ date1 | date: "shortTime"}}</div>
    <div>mediumTime: {{ date1 | date: "mediumTime"}}</div>
    <div>longTime: {{ date1 | date: "longTime"}}</div>
    <br/>
    <div>
        uppercase: 
        {{ myString | uppercase }}
    </div>
    <div>
        lowercase: 
        {{ myString | lowercase }}
    </div>

    <!-- Chaining pipes -->
    <div>
        chain-fulldate-uppercase:
        {{ date1 | date: "fullDate" | uppercase }}
    </div>
    <div>
        currency: 
        <div>default: {{ amount | currency }}</div>
        <div>PHP: {{ amount | currency: "PHP" }}</div>
        <div>PHP: {{ amount | currency: "PHP" : "symbol" : "0.2-2"}}</div>
    </div>
    <br/>
    <div>
        number:
        <div>default: {{ amount | number }}</div>
        <div>pading-decimal: {{ amount | number: '7.2-2'}}</div>
    </div>
    <br/>
    <div>
        number:
        <div>default: {{ amount | number }}</div>
        <div>padding-decimal: {{ percent | percent: '.2-2'}}</div>
    </div>
    <br/>
    <div>
        <div>custom-exponential-form: {{toRaise | exponential : 3}}</div>
    </div>
</div>
