<br/>
<!-- <form>
    <input placeholder="name"/>
    <input placeholder="title"/>
</form> -->

<div class="container">
    <p>{{model | json }}</p>
    <form #heroForm="ngForm" (ngSubmit)="onSubmit(heroForm)">
        <div class="form-group">
            <label for="name">Name: </label>
            <input 
                [(ngModel)]="model.name" 
                type="text" 
                name="name" 
                class="form-control"
                required   
                #name="ngModel" 
            />
            <br/>
            <div [hidden]="name.valid || (name.pristine && !name.touched)" class="alert alert-danger">
                Name is required
            </div>
        </div>
        <div class="form-group">
            <label for="alterEgo">Alter Ego: </label>
            <input 
                [(ngModel)]="model.alterEgo" 
                type="text" 
                name="alterEgo" 
                class="form-control"
                required
            />
            <br/>
            
        </div>
        <div class="form-group">
            <label for="power">Powers: </label>
            <select 
                [(ngModel)]="model.power" 
                type="text" 
                name="power" 
                class="form-control"
            >
                <option 
                    *ngFor="let power of powers"
                    [value]="power"
                >
                    {{ power }}
                </option>
            </select>
            <br/>
        </div>
        <button type="submit" class="btn btn-primary">submit</button><br/><br/>

        <p>model.name: {{ model.name }}</p>
        <p>model.power: {{ model.power }}</p>
        <p>name.valid: {{ name.valid }}</p>
    </form>
</div>
